.App {

}

.container {

  width: 1200px;
  margin: auto;
  margin-top: 200px;
}

.customs {
  display: flex;
  justify-content: space-between;

}

.color_picker {
  flex: 1;
  border: 1px solid blue;
  border-radius: 5px;
}

.heading {
  background-color: royalblue;
  color: white;
  height: 30px;
}

.heading span{
  margin-left: 10px;
  line-height: 30px;
}
.list {
  display: flex;
}

.list div {
  height: 50px;
  width: 50px;
  margin: 10px;
}
.active {
  border: solid 3px black;
}
.item {
  display: block;
  height: 50px;
  width: 50px;
  background-color: red;
  margin: 5px;
}

/* .green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.black {
  background-color: black;
}
.gray {
  background-color: gray;
} */
.size {
  margin-left: 50px;
  flex: 1;
  color: red;
  font-size: 20px;
}

.size_text {
 display: block;
}

.btn {
  background-color: #028e02;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 4px;
  margin: 10px;
  outline-style: none;
  box-shadow: none;
}
.btn.reset {
  display: block;
  background-color: blue;
}
.result {
  width: 100%;
}

.label{
  display: block;
}

.input{
  width: 100%;
  height: 30px;
  outline: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
